@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply bg-background-light dark:bg-background-dark text-slate-900 dark:text-slate-100 transition-colors duration-200;
    }
}

@layer utilities {
    .radial-progress {
        position: relative;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        border-radius: 9999px;
        width: var(--size);
        height: var(--size);
    }
    .radial-progress::before {
        content: "";
        position: absolute;
        inset: 0;
        border-radius: 9999px;
        background: conic-gradient(currentColor calc(var(--value) * 1%), transparent 0);
        mask: radial-gradient(transparent calc(var(--size) / 2 - 4px), #fff 0);
        -webkit-mask: radial-gradient(transparent calc(var(--size) / 2 - 4px), #fff 0);
    }
}
